@model List<MA>
@using System.Linq
@using OrganisedMe.Models
@{
    ViewData["Title"] = "Home Page";

    List<MA> assets = Model.FindAll(ma => ma.Type == OrganisedMe.Models.Type.Asset);
    List<MA> income = Model.FindAll(ma => ma.Type == OrganisedMe.Models.Type.Income);
    List<MA> expense = Model.FindAll(ma => ma.Type == OrganisedMe.Models.Type.Expense);

}

<table class="mt-4">
  <tr>
    <th>Bank</th>
    @{
        List<decimal> totalsRow = new List<decimal>();
        foreach (MADetails details in assets[0].Details)
        {
                <th>@details.Date</th>
                totalsRow.Add((decimal)0.0);
        }
        totalsRow.Add((decimal)0.0); //total column
    }
        <th>Cash</th>
    </tr>
    @{
        
        foreach (MA ma in assets)
        {
            <tr>
                <td>@ma.Account</td>
                @{
                    decimal rowTotal = (decimal)0.0;
                    foreach(var item in  ma.Details.Select((value, i) => (value, i)))
                    {
                        MADetails details = item.value;
                        <td>@details.Amount</td>
                        rowTotal += details.Amount;
                        totalsRow[item.i] = details.Amount;
                    }
                    totalsRow[^1] += rowTotal;
                }
                <td>@rowTotal</td>
            </tr>
        }
    }
    <tr>
        <td>TOTAL</td>
        @{
            foreach(decimal value in totalsRow)
            {
                <td>@value</td>
            }
        }
    </tr>
    
 
  }
  
</table>
